@charset "utf-8";
$topColor:#f2f2f2;
$borderC : #dfdfdf;
$redC:#cc0000;
$baseC:#b28247;
.margin{
    width:1210px;
    margin:0 auto;
}

//头部
#header{
    
    //广告
    .head-ad{
        display: block;
        cursor:default;
        //保险信息
        .promiss-message{
            position: absolute;
            display: none;
        }
    }
    
    //top
    .head-top{
        height: 30px;
        line-height: 30px;
        background-color: $topColor;
        font-family: "microsoft yahei";
        .top-left{
            height: 100%;
            float: left;
            .left-home{
                height: 30px;
                
                width: 110px;
                float:left;
                b{
                    float: left;
                    height: 16px;
                    width: 15px;
                    margin: 7px 5px 0 2px;
                    background: url(../img/home.png) no-repeat;
                } 
                a{
                    float: left;
                    width: 85px;
                    line-height:30px ;    
                }
                i{
                    float: left;
                    margin-top:9px ;
                    height: 12px;
                    border-right: 1px solid $borderC ;
                }
                
            }
            .left-vip{
                float: left;
                padding-left:30px ;
                b{
                    display: inline-block;
                    vertical-align: middle;
                    height: 15px;
                    width: 13px;
                    background: url(../img/brandstore_share.png) no-repeat -356px -346px;
                }    
            }  
        }
        .top-right{
            float: right;
            ul{
                li{
                    position: relative;
                    float: left;
                    padding:0 20px;
                    a{
                        display: block;
                    }
                    i{
                        position: absolute;
                        right: 3px;
                        top: 9px;
                        height: 12px;
                        border-right: 1px solid $borderC ;  
                    }
                     &.login:hover, &.phonedown:hover{
                        a{
                            color: $redC;
                        }    
                    }
                    &.register{
                        a{
                            &:hover{
                                color: $baseC;
                            }
                            line-height:28px;
                           b{
                                display: inline-block;
                                vertical-align: middle;
                                margin-top: -8px;
                                width: 22px;
                                height: 24px;
                                background: url(../img/youli.gif) no-repeat;
                            } 
                        }    
                    }
                    &.myd5lu{
                        border-left:1px solid $topColor ;
                        border-right:1px solid $topColor; 
                        
                        a{
                            b{
                                display:inline-block;
                                vertical-align: middle;
                                margin-left: 10px;
                                width: 15px;
                                height: 10px;
                                background: url(../img/brandstore_share.png) no-repeat -352px -448px;  
                            }
                        }
                        
                        .my-list{
                            z-index: 5;
                            display: none;
                            position: absolute;
                            background-color:#fff ;
                            border: 1px solid $borderC;
                            border-top: none;
                            text-align: center;
                            top: 30px;
                            left: -1px;
                            width: 100%;
                            dd{
                              a:hover{
                                  color:$baseC ;
                              }
                            }
                        }
                        
                    }
                    &.active{
                       background: #fff; 
                       border-left:1px solid $borderC ;
                       border-right:1px solid $borderC ; 
                       &>a{
                           color: $baseC;
                           b{
                             background: url(../img/brandstore_share.png) no-repeat -352px -477px;  
                           }
                       }    
                    }
                    &.help{
                        a:hover{
                            color: $baseC;
                        }
                    }
                    &.phonedown{
                        position: relative;
                        border-left:1px solid $topColor ;
                        border-right:1px solid $topColor ; 
                        a{
                            b{
                                display:inline-block;
                                vertical-align: middle;
                                margin-left: 5px;
                                width: 17px;
                                height: 17px;
                                background: url(../img/brandstore_share.png) no-repeat -287px -378px;   
                            }
                        }
                        .phone-list{
                           z-index: 5;
                           background: #fff;
                           display: none;
                           position: absolute;
                           top:30px;
                           left: -1px; 
                           border: 1px solid $borderC;
                           border-top: none;
                           width: 100%;
                           text-align: center;
                           padding-top: 5px;
                           line-height: 20px;
                           span{
                               font:16px/20px "microsoft yahei";
                               color: $redC;
                           }
                        }
                    }
                    &.pactive{
                       background: #fff; 
                       border-left:1px solid $borderC ;
                       border-right:1px solid $borderC ; 
                       &>a{
                           color: $redC;
                           b{
                              background: url(../img/brandstore_share.png) no-repeat -287px -413px;  
                           }
                       } 
                    }
                    
                }
                
                
            }
        }    
    }
    //头部的中间
    .head-mid{
        height: 110px;
        .logo{
           float:left;
            a{
                display: inline-block;
            }
        }
        .yijian{
            float: left;
            margin-left: 50px;
            height: 100%;
            a{
                display: inline-block;
                height: 100%;
                img{
                    vertical-align: middle;
                }
            }    
        }
        .search-wrap{
            float: left;
            margin-left: 55px;
            padding-top: 35px;
            .wrap-box{
                height: 32px;
                line-height: 32px;
                border: 2px solid $baseC;
                font-family:arial;
                .search-ipt{
                    width: 298px;
                    height: 31px;
                    border: none;
                    padding-left: 3px;
                    color: #999;
                }
                .search-btn{
                    width: 80px;
                    height: 32px;
                    border: none;
                    background: $baseC;
                    font:14px/32px '';
                    color: #fff;
                    cursor: pointer;
                } 
                .result-list{
                    display: none;
                    position: absolute;
                    width: 303px;
                    background: #FFF;
                    border: 1px solid $borderC;
                    font:12px/32px "microsoft yahei";
                    color: #000000;
                    li{
                        height: 32px;
                        padding:0 5px;
                        &>span{
                            float: left;
                            
                        }
                        a{
                            float: left;
                            margin:0 5px;
                            &:hover{
                                color: $baseC;
                            }
                        }
                        b{
                            float: right;
                        }
                    }
                }   
            }
            .search-alist{
                padding-left:2px ;
               a{
                   font-family: "microsoft yahei";
                   color: #999;
                   margin-right: 25px;
               }
            }
        }
        .cart-icon{
            position: absolute;
            right: 35px;
            z-index: 4;
            padding: 0 20px 0 10px;
            width: 110px;
            height: 32px;
            line-height: 32px;
            background:#fff url(../img/brandstore_share.png) no-repeat -340px -406px;
            border: 1px solid #ccc;
            box-shadow: 0 0 2px #ccc ;
            margin-top:39px;
            font-family: "microsoft yahei";
            a{
                background: #fff;
                display: block;
                width: 90%;
                height: 100%;
                i{
                    float: left;
                    width: 22px;
                    height: 30px;
                    background: url(../img/brandstore_share.png) no-repeat -390px -337px;
                    margin-right:10px;
                }
                span{
                    float: left;    
                    b{
                        color: $redC;
                    }
                }    
            }
            .cart-content{
                background: #fff;
                display: none;
                z-index: 3;
                margin-top: -1px;
                position: absolute;
                right: -1px;
                width: 248px;
                padding: 5px 10px;
                border: 1px solid #ccc;
                box-shadow: 0px 0px 2px #ccc;
                h3{
                   font-size: 13px;
                   border-bottom:1px solid #999 ;
                };   
            }
            &.cactive{
              border-bottom:none ;
            }    
        }
        
        
        
    }
    //头部中的导航
    .head-menu{    
        height:38px;
        background: url(../img/navi_1pxbg.png) repeat-x;
        box-shadow: 0 4px 4px #c7c6c6;
        ul.menu{
            float: left;
            li{
                float: left;
                width: 82px;
                height: 40px;
                text-align: center;
                font-family: "microsoft yahei";
                a{
                    display: block;
                    height: 38px;
                    color: #c8a985;
                    font-size:14px ;
                    line-height: 38px;
                    &:hover{
                        color: #fff;
                    }
                }
                &.shop{
                    a{
                        i{
                            margin-top: -5px;
                            display: inline-block;
                            vertical-align: middle;
                            width: 22px ;
                            height: 28px;
                            background: url(../img/share02.png) -58px -175px ;
                        }
                        &:hover{
                            i{
                              background: url(../img/share02.png) -366px -258px ;  
                            }
                        } 
                    }
                    
                }
            }
            .mactive{
                height: 38px;
                &>a{
                    font-weight: 700;
                     color: #fff;
                     background: url(../img/lux_index.png) no-repeat -8px -216px;
                }
            }
            //菜单栏上的【商品分类】
            .goods-categorys{
                width: 130px;
                position: relative;
                //商品分类的大盒子
                .categorys-wrap{
                    display: none;
                    width: 100%;
                    height: 400px;
                    position: absolute;
                    z-index: 1000;
                    .cate-item-wrap{
                        .wrap-item{
                            position: relative;
                            .cate-item{
                               background: #fff;
                               opacity: 0.85;
                               height: 36px; 
                               width: 120px;
                               padding-left:10px;
                               text-align:left;
                               a{
                                   position:relative ;
                                   height:100%;
                                    i{
                                        display: inline-block;
                                        vertical-align: middle;
                                        width:21px;
                                        height: 21px;
                                        margin-top:2px ;
                                        margin-right: 5px;
                                       
                                    }
                                    span{
                                        vertical-align: middle;
                                        display: inline-block;
                                        line-height:36px ;
                                        color: #000;
                                    }
                                    b{
                                        display: none;
                                        position: absolute;
                                        right: 10px;
                                        top:10px;
                                        vertical-align: middle;
                                        width:21px;
                                        height: 21px;
                                        margin-top:2px ;
                                        background: url(../img/share02.png) no-repeat -296px -40px; 
                                    }
                                }
                                &.cate-brand{
                                    i{
                                        background: url(../img/cate1.png) no-repeat 0px 0px; 
                                    }
                                }
                                &.cate-bag{
                                    i{
                                        background: url(../img/cate1.png) no-repeat 0px -25px; 
                                    }
                                }
                                &.cate-meizhuang{
                                    i{
                                        background: url(../img/cate1.png) no-repeat 0px -50px; 
                                    }
                                }
                            }
                            .cate-content{
                                position: absolute;
                                display: none;
                                top: 0;
                                left: 130px;
                            }    
                        }   
                    }
                    .cate-content-wrap{
                        
                    }
                    
                               
                }
            }
        }
        .icon-wrap{
            float: right;
            text-align: left;
            
            height: 40px;
            ul{
                li{
                    float: left;
                    height: 100%;
                    line-height: 38px;
                    margin-right: 12px;
                    width: 30px;
                    overflow: hidden;
                    a{
                        color: #fff;
                        display: block;
                        width: 140px;
                        font-family: "microsoft yahei";
                        i{
                            float: left;
                            margin: 2px 2px 0 0;
                            width: 30px;
                            height: 30px;
                            &.quality-icon{
                                background: url(../img/share02.png) -238px -69px;
                            }
                            &.vip-icon{
                                background: url(../img/share02.png) -299px -69px;
                            }
                            &.ht-icon{
                                background: url(../img/share02.png) -356px -69px;
                            }
                            
                        }
                        span{
                            float: left; 
                        }
                    }
                }
            }
        }
    }    
}


